[submodule "erlbank/transfers"]
	path = erlbank/transfers
	url = git@github.com:active-group/flex-transfers.git
[submodule "erlbank/accounts"]
	path = erlbank/accounts
	url = git@github.com:active-group/flex-accounts.git
[submodule "erlbank/statements"]
	path = erlbank/statements
	url = git@github.com:active-group/flex-statements.git
