*~
/*.html
*.beam
.rebar3
_*
Mnesia.*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
[0-9][0-9]-*.pdf
flex-ag.zip
erlbank/nginx/sites-enabled/default.conf
flex-ag
erlbank/*/*.dets
xirbank/*/*.dets
