{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
        lager,
        {lager_logstash_backend,
          {git,"https://github.com/heyoka/lager_logstash_backend",
          {ref, "11c7f10"}}},
       {cowboy, "2.9.0"},
       % default version bombs building 2022-06-24
       {jiffy, "1.1.1"}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlbank_monolithic]}
]}.

{profiles, [
    {test, [{deps, []}]},
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}]}
]}.

{relx, [{release, {erlbank_monolithic, "0.0.1"},
         [{mnesia, load}, erlbank_monolithic]},

        {vm_args, "config/vm.args"},
        {sys_config_src, "config/sys.config.src"},
        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}
       ]
}.
