{erl_opts, [debug_info, {parse_transform}]}.

{deps, [
        {logstasher, "~> 1.0.0"},
        {cowboy, "2.14.0"},
        {cowlib, "2.14.0"},
        {ranch, "2.1.0"}
]}.

{overrides, [
    {override, cowboy, [{deps, [cowlib, ranch]}]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlbank_monolithic]}
]}.

{profiles, [
    {test, [{deps, []}]},
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}]}
]}.

{relx, [{release, {erlbank_monolithic, "0.0.1"},
         [{mnesia, load}, erlbank_monolithic]},

        {vm_args, "config/vm.args"},
        {sys_config_src, "config/sys.config.src"},
        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}
       ]
}.
